@charset "utf-8";

// Set your brand colors
$grey: #273849;
$green: #4fc08d;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #F9F2E7;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $grey;
$success: $green;
$link: $green;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$footer-background-color: $primary;
$subtitle-color: $primary;
// Import only what you need from Bulma
@import "~bulma/bulma";


.highlight .nt, .highlight .k, .highlight .kc {
  color: $green;
}

.highlight .na, .highlight .s1 {
  color: #e6db74;
}

.highlight .s, .highlight .err, .highlight .nx {
  color: #f92672;
}

.highlight .o {
  color: #66d9ef;
}

.highlight .mi {
  color: #a6e22e;
}
